<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
</head>
<body>
<a href="/"><img src="{{url_for('static', filename='logo.jpg')}}" alt="508 Logo" class="img-rounded" style="width:39px; height:39px;"></a>{% if not logged_in[0] %}
<ul class="nav nav-pills pull-right" role="tablist">
									<li role="presentation"><a href="/login">登录</a></li>
								</ul>
{% else%}
<ul class="nav nav-pills pull-right" role="tablist">
									<li role="presentation"><a href="/users/{{logged_in[1]}}">{{logged_in[1]}}</a></li>
	<li role="presentation"><a href="/logout/{{logged_in[1]}}">登出</a></li>
								</ul>
{% endif%}
<div class="col-sm-1" >
	<div class="navbar navbar-default " role="navigation">
	<div class="container-fluid" style="padding-left: 0px;padding-right: 0px;width: 60px;">
		<div class="navbar-header"  style="padding-left: 0px;padding-right: 0px;">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">首页</a>
		</div>
		<div class="navbar-collapse collapse" style="padding-left: 0px; padding-right: 0px;">
			<ul class="nav navbar-nav">
				<li><a href="/blogs">博客(新闻)</a></li>
				{%if logged_in[2] == True%}
				<li><a href="/guanli_students">管理学生</a></li>
				{%endif%}
			</ul>
		</div>
	</div>
</div>
</div>
<div class="col-sm-11">

		<div class="container theme-showcase"  role="main">
						<div>
				<h1 class="visible-xs">八班</h1>
			</div>
			<hr style="border:1;  color=#987cb9;" size=1><div class="508-content">
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			{%if logged_in[2] == False%}
			<h1>禁止入内！</h1>
			{% else %}
			<div class="col-sm-12 col-md-9">
				<table class="table">
					<thead>
						<tr>
							<th style="width:40%">姓名</th>
							<th style="width:30%">学号</th>
							<th style="width:30%">密码</th>
						</tr>
					</thead>
				  	<tbody>
					{% for i in users %}
							<tr>
							<td><a href="/users/{{i[0]}}">{{i[0]}}</a></td>
                            <td>{{i[1]}}</td>
                            <td>{{i[2]}}</td>
                            </tr>
					{% endfor %}
					</tbody>
				</table>
                <form method="post" action=""><div style="padding:20px;">
		{%with messages = get_flashed_messages(with_categories=true)%}
		{%if messages%}
		<ul class="flashes">
			{% for category,message in messages %}
			<li style="{{category}}">{{message}}</li>
			{%endfor%}
		</ul>
		{%endif%}
		{% endwith %}
	</div>
                    <h5>修改</h5>
                    <p>把想要修改的项填进去，不需要修改的也填进去。（填同一个人的！）</p>
                    <label for="_id">学&nbsp;号</label><input name="_id" id="_id">
                    <label for="name">姓&nbsp;名</label><input name="name" id="name">
                    <label for="passwd">密&nbsp;码</label><input name="passwd" id="passwd">
                    <button>修改</button>
                </form>
			</div>
                {%endif%}
		</div>
	</div>
</div>
            </div>
        </div>
</div>
</body>
</html>