<!DOCTYPE html>
<html>
<head>
    {% include 'head.html' %}
	<!--[if gte IE 9]>
	<style>.gradient{filter:none;}</style>
	<![endif]-->
	<style>.co{/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,f1f1f1+7,e1e1e1+27,e1e1e1+39,e1e1e1+50,e1e1e1+69,e1e1e1+69,e1e1e1+90,f6f6f6+100 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 7%, rgba(225,225,225,1) 27%, rgba(225,225,225,1) 39%, rgba(225,225,225,1) 50%, rgba(225,225,225,1) 69%, rgba(225,225,225,1) 69%, rgba(225,225,225,1) 90%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 7%,rgba(225,225,225,1) 27%,rgba(225,225,225,1) 39%,rgba(225,225,225,1) 50%,rgba(225,225,225,1) 69%,rgba(225,225,225,1) 69%,rgba(225,225,225,1) 90%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 7%,rgba(225,225,225,1) 27%,rgba(225,225,225,1) 39%,rgba(225,225,225,1) 50%,rgba(225,225,225,1) 69%,rgba(225,225,225,1) 69%,rgba(225,225,225,1) 90%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
</style>
</head>
<body>
<a href="/"><img src="{{url_for('static', filename='logo.jpg')}}" alt="508 Logo" class="img-rounded" style="width:39px; height:39px;"></a>{% if not logged_in[0] %}
<ul class="nav nav-pills pull-right" role="tablist">
									<li role="presentation"><a href="/login">登录</a></li>
								</ul>
{% else%}
<ul class="nav nav-pills pull-right" role="tablist">
									<li role="presentation"><a href="/users/{{logged_in[1]}}">{{logged_in[1]}}</a></li>
	<li role="presentation"><a href="/logout/{{logged_in[1]}}">登出</a></li>
								</ul>
{% endif%}
<div class="col-sm-1 co" >
	<div class="navbar navbar-default " role="navigation">
	<div class="container-fluid" style="padding-left: 0px;padding-right: 0px;width: 60px;">
		<div class="navbar-header"  style="padding-left: 0px;padding-right: 0px;">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">首页</a>
		</div>
		<div class="navbar-collapse collapse" style="padding-left: 0px; padding-right: 0px;">
			<ul class="nav navbar-nav">
				<li><a href="/blogs">博客(新闻)</a></li>
				{%if logged_in[2] == True%}
				<li><a href="/guanli_students">管理学生</a></li>
				{%endif%}
			</ul>
		</div>
	</div>
</div>
</div>
<div class="col-sm-11">

		<div class="container theme-showcase"  role="main">
						<div>
				<h1 class="visible-xs">八班</h1>
			</div>
			<hr style="color:#987cb9;" size=1><div class="508-content">
<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			{%if logged_in[2] == False or logged_in[0] == False%}
			<h1>禁止入内！</h1>
			{%if logged_in[0] == False%}
			<h2>游客，这是文海小学508班王靖明的给班级编写的官网，你如果也属于我们这个大家庭（508班），请：</h2>
					<a href="/login" class="btn btn-primary btn-sm">登录</a>
			{%endif%}
			{% else %}
			<div class="col-sm-12 col-md-9">
				{%if empty==1%}
					<h1>没有公告</h1>
					<a href="/notice/{{logged_in[1]}}/write" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span>->写新公告</a>
					{%else%}
				<table class="table">
					<thead>
						<tr>
							<th style="width:60%">公告</th>
							<th style="width:40%">发表者</th>
						</tr>
					</thead>
				  	<tbody>
			 		{% for i in notices %}
							<tr>
							<td><a href="/notices/{{i[0]}}">{{i[1]}}</a></td><td>{{i[2]}}</td>
                            </tr>
					{% endfor %}
					<a href="/notice/{{logged_in[1]}}/write" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-edit"></span>->写新公告</a>
					</tbody>
				</table>
				{%endif%}
			</div>
                {%endif%}
		</div>
	</div>
</div>
            </div>
        </div>
</div>
</body>
</html>