<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		{% include "head.html" %}
			</head>
	<body role="document">
<div class="col-sm-1" >
	<div class="navbar navbar-default" role="navigation">
	<div class="container-fluid" style="padding-left: 0px;padding-right: 0px;width: 60px;">
		<div class="navbar-header"  style="padding-left: 0px;padding-right: 0px;">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">首页</a>
		</div>
		<div class="navbar-collapse collapse" style="padding-left: 0px; padding-right: 0px;">
			<ul class="nav navbar-nav">
				<li><a href="/blogs">博客(新闻)</a></li>
				{%if logged_in[2] == True%}
				<li><a href="/guanli_students">管理学生</a></li>
				{%endif%}
			</ul>
		</div>
	</div>
</div></div>
<div class="col-sm-11">

		<div class="container theme-showcase"  role="main">
						<div>
				{% if not logged_in[0]%}
<ul class="nav nav-pills pull-right" role="tablist">
									<li role="presentation"><a href="/login">登录</a></li>
								</ul>
{% else%}
<ul class="nav nav-pills pull-right" role="tablist">
									<li role="presentation"><a href="/users/{{logged_in[1]}}">{{logged_in[1]}}</a></li>
	<li role="presentation"><a href="/logout/{{logged_in[1]}}">登出</a></li>
								</ul>
{% endif%}
				<h1 class="hidden-xs"><a href="/"><img src="{{url_for('static', filename='logo.jpg')}}" alt="508 Logo" class="img-rounded" style="width:39px; height:39px;" />
				</a> 508班 同学信息</h1>
				<h1 class="visible-xs">主页</h1>
			</div>
			<hr style="border:1  color=#987cb9" size=1><div class="uoj-content">
		<div class="panel panel-info">
		<div class="panel-heading">
			<h2 class="panel-title">用户信息</h2>
		</div>
		<div class="panel-body" align="right">{% if user %}
			<div class="row">
				<div class=""><span><!--<strong style="color:blue">♂</strong>--></span>
					<div class="list">
						<div class="list-group-item">
							<h4 class="heading">姓&nbsp;名</h4>
							<p class="text"><strong style="color:red">{{name}}</strong></p>
						</div>
						<div class="list-group-item">
							<h4 class="heading">用户类型</h4>
							<p class="text">{{mod}}</p>
						</div>
						<div class="list-group-item">
							<h4 class="heading">学&nbsp;号</h4>
							<p class="text">{{id}}</p>
						</div>
						<div class="list-group-item">
							<h4 class="heading">简介（格言）</h4>
							<p class="text">{{jianjie}}</p>
						</div>
											</div>
				</div>
			</div>{%if logged_in[1] == name%}
									<a type="button" class="btn btn-info btn-sm" href="/user/{{name}}/modify-profile"><span class="glyphicon glyphicon-pencil"></span> 更改个人信息</a>
			{%endif%}
			<p></p>
			{%else%}
			<p>没有此人</p>
			{%endif%}
			</div>
		</div>
	</div>

			</div>
		</div>
	</body>
</html>
